.paper {
  padding: 6px 16px;
}
.iconHandle {
  cursor: pointer;
}
.todo {
  .handlers {
    position: absolute;
    left: 17px;
    right: 17px;
    top: -40px;
    display: flex;
  }
  .actions {
    display: flex;
    gap: 5px;
  }
  &:nth-of-type(even) {
    .handlers{
      justify-content: flex-end;
    }
  }
}
.more {
  position: absolute;
  top: 68px;
  margin: 0px 7px;
  z-index: 6;
}