.black {
  backgroundColor: "#000",
}
.addContainer {
  right: 24px;
  bottom: 16px;
  position: absolute !important;
}
.addTodo {
  width: 56px !important;
  height: 56px !important;
  padding: 14px;
  cursor: pointer;
  box-sizing: border-box;
}
.tree {
  margin-top: 50px;
}